In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("C:/Users/Baliqees/Desktop/energydata_complete.csv")

In [12]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [13]:
column_names = {'T1':'Temperature_in_kitchen_area', 'RH_1': 'Humidity_in_kitchen_area', 
                'T2':  'Temperature_in_living_room area', 'RH_2': 'Humidity_in_living_room_area', 
                'T3': 'Temperature_in_laundry_room_area',
                'RH_3': 'Humidity_in_laundry_room_area', 'T4': 'Temperature_in_office_room', 
                'RH_4': 'Humidity_in_office_room', 'Appliances':'Appliances_energy_use',
                'T5': 'Temperature_in_bathroom','RH_5': 'Humidity_in_bathroom', 
                'T6': 'Temperature_outside_the_building', 'RH_6': 'Humidity_outside_the_building', 
                'T7': 'Temperature_in_ironing_room','RH_7': 'Humidity_in_ironing_room',
                'T8': 'Temperature_in_teenager_room_2', 'RH_8': 'Humidity_in_teenager_room_2', 
                'T9': 'Temperature_in_parents_room', 'RH_9': 'Humidity_in_parents_room',
                'Press_mm_hg': 'Pressure_from_Chievres_weather_station','Windspeed':'windspeed_from_Chievres_weather_station',
               'Visibility': 'Visibility_from_Chievres_weather_station'}

In [14]:
feature=df[["T2"]]
target=np.array(df["T6"])

In [23]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score,mean_squared_error

In [24]:
scale=MinMaxScaler()
feature=scale.fit_transform(feature)

In [25]:
model=LinearRegression()
model.fit(feature,target)

LinearRegression()

In [26]:
y_pred=model.predict(feature)

In [27]:
#12

r2_scores=r2_score(target, y_pred)
r2_scores

0.6418990830855493

In [39]:
from sklearn.preprocessing import MinMaxScaler

In [40]:
scale=MinMaxScaler()

In [41]:
df_without_date = df.drop('date', axis =1)

In [ ]:
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [15]:
features_df = normalised_df.drop(columns=['Pressure_from_Chievres_weather_station', 'Temperature_in_living_room area'])

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
df.drop(['date','lights'], axis=1, inplace=True)

In [18]:
df

,Appliances_energy_use,Temperature_in_kitchen_area,Humidity_in_kitchen_area,Temperature_in_living_room area,Humidity_in_living_room_area,Temperature_in_laundry_room_area,Humidity_in_laundry_room_area,Temperature_in_office_room,Humidity_in_office_room,Temperature_in_bathroom,...,Temperature_in_parents_room,Humidity_in_parents_room,T_out,Pressure_from_Chievres_weather_station,RH_out,windspeed_from_Chievres_weather_station,Visibility_from_Chievres_weather_station,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
scaler = MinMaxScaler()

In [ ]:
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [ ]:
features_df = normalised_df.drop(columns=['Appliances_energy_use'])

In [ ]:
Appliances_target = normalised_df['Appliances_energy_use']

In [24]:
from sklearn.model_selection import train_test_split

In [43]:
x_train, x_test, y_train, y_test = train_test_split(features_df, Appliances_target,test_size=0.3, random_state=42)

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
linear_model = LinearRegression()

In [46]:
linear_model.fit(x_train, y_train)

LinearRegression()

In [47]:
predicted_values = linear_model.predict(x_test)

In [48]:
from sklearn.metrics import mean_absolute_error

In [49]:
#13
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

In [50]:
import numpy as np

In [51]:
#14
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

45.348

In [52]:
from sklearn.metrics import mean_squared_error

In [53]:
#15
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [54]:
#16
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.149

In [64]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_test, y_test)

Ridge(alpha=0.4)

In [65]:
#18
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [56]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [57]:
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [58]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [59]:
linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [68]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [76]:
def get_weights_df(model, feat, T6):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', T6]
    weights_df[T6].round(3)
    return weights_df

In [73]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [74]:
linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')